<nav class="menu">
  <ul>
    <li><a routerLink="paginas/Inicio">Inicio</a></li>
  </ul>
    <ul>
      <li><a routerLink="paginas/formularioestudiante">Crear Estudiante</a></li>
    </ul>
    <ul>
      <li><a routerLink="paginas/formulariocurso">Crear Curso</a></li>
    </ul>

    <ul>
      <li><a routerLink="paginas/formularioprofesor">Crear Profesor</a></li>
    </ul>

    <ul>
      <li><a routerLink="paginas/inscripciones">Inscripciones </a></li>
    </ul>

    <ul>
      <li><a routerLink="paginas/listadoEstudiantes">Lista Estudiantes </a></li>
    </ul>


    <ul>
      <li><a routerLink="paginas/listadoCursos">Lista Cursos </a></li>
    </ul>


    <ul>
      <li><a routerLink="paginas/listadoInscripciones">Lista Inscripciones </a></li>
    </ul>
  </nav>
  