body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

input {
    padding: 12px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
}

#listaCursos {
    margin-top: 20px;
}

.titulo {
    color: #007BFF;
}

.curso-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.curso-table th, .curso-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.curso-table th {
    background-color: #007BFF;
    color: #fff;
}
